html{
    width: 100%;
}
body{
    background-image: url(./images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.baln{
    background-color: rgba(188, 209, 138, 0.644);
}
h1{
    color: green;
}
hr{
    border: 2px blue solid;
    opacity: 1;
}
.quienes{
    background-color: rgba(188, 209, 138, 0.397);
}
.cards{
    background-color: rgba(188, 209, 138, 0.397);
    
}
.contacto{
    background-color: rgba(188, 209, 138, 0.397);
}
.icono{
        background-image: url(./images/icono.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
}
.title{
    color: white;
    font-size: xx-large;
}
.tel a{
    color: white;
    text-decoration: none;
    font-size: xx-large;

}
.btn a{
    color: white;
    text-decoration: none;
}
.offcanvas-body a{
    text-decoration: none;
}
.card-text{
    text-align: justify;
}
.info{
    text-align: justify;
}
.info ul{
    list-style: none;
}
.accordion-body{
    text-align: justify;
}