*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    background-image: url(./images/body.jfif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
} */
hr{
    border: 2px blue solid;
    opacity: 1;
}
.icono{
        background-image: url(./images/icono.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
}
.title{
    color: white;
    font-size: xx-large;
}
.tel a{
    color: white;
    text-decoration: none;
    font-size: xx-large;

}
.btn a{
    color: white;
    text-decoration: none;
}
.offcanvas-body{
    heigh;
}
